<perch:form id="register" method="post" app="perch_shop">
	
	<h2>New customer</h2>


	<fieldset>
	   	<legend>About you</legend>
		<div>
			<perch:label for="first_name">First name</perch:label>
			<perch:input type="text" id="first_name" required="true" label="First name" />
			<perch:error for="first_name" type="required">Please add your name</perch:error>
		</div>

		<div>
			<perch:label for="last_name">Last name</perch:label>
			<perch:input type="text" id="last_name" required="true" label="Last name" />
			<perch:error for="last_name" type="required">Please add your name</perch:error>
		</div>

		<div>
			<perch:label for="email">Email</perch:label>
			<perch:input type="email" id="email" required="true" placeholder="you@company.com" helper="PerchMembers_Members::check_email" />
			<perch:error for="email" type="required">Please add your email address</perch:error>
			<perch:error for="email" type="helper">That email address is already in use</perch:error>
			<perch:input type="hidden" id="password" value="__auto__" />
		</div>

	</fieldset>

	<fieldset>
	   	<legend>Billing address</legend>
	   	<div>
			<perch:label for="company">Company</perch:label>
			<perch:input type="text" id="company" label="Company" />
		</div>

		<div>
			<perch:label for="address_1">Address 1</perch:label>
			<perch:input type="text" id="address_1" required="true" label="Address 1" />
			<perch:error for="address_1" type="required">Please add the first line of your address</perch:error>
		</div>

		<div>
			<perch:label for="address_2">Address 2</perch:label>
			<perch:input type="text" id="address_2" label="Address 2" />
		</div>

		<div>
			<perch:label for="postcode">Postal code</perch:label>
			<perch:input type="text" id="postcode" label="Postal code" />
		</div>

		<div>
			<perch:label for="city">City</perch:label>
			<perch:input type="text" id="city" label="City" />
		</div>

		<div>
			<perch:label for="county">State or County</perch:label>
			<perch:input type="text" id="county" label="County" />
		</div>

		<div>
			<perch:label for="country">Country</perch:label>
			<perch:input type="select" options="<perch:shop id="country_list" />" value="236" id="country" label="Country" />
		</div>

	</fieldset>


		<div>
			<perch:input type="submit" value="Register" />
		</div>
	

	<perch:success>
		<p>Thanks!</p>
	</perch:success>

</perch:form>