
// exercise section

.stress_weight{

    .icon_style{

        
        li{
            display: flex;

            i{
                height: 25px;
                margin-top: 5px;
            }
        
        }
    }
}

//The benefits of exercise section start

.benefits_exercise{
    background: radial-gradient(50% 132.32% at 50% 50%, rgba(0, 204, 189, .2) 0, rgba(0, 204, 189, 0) 100%), #fff!important;

    .people_content{
        background: #f7f7f7;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
        margin: 0 10px;
        height: 270px;
        max-height: 400px;
        text-align: center;

        h4{
            font-weight: 600;
        }
    }

}



.accuit{
    background: #0f0f0f!important;
    color: #fff;

    .what_content{

        padding-top: 20px!important;
    }
}

// How health coaching section

.getweightloss_weightloss{


        .learn_btn{
            margin-left: 0!important;
    
        }

    
}

// The getweightloss Weight Loss Programme: exercise and beyond section
.programme_exercise{

    .fint_out_more{

        margin-left: 40px!important;
    }
}
















// media query

@media screen and (max-width: 768px) {

    .stress_weight {

        .boy2{

            img {
                height: 100vh!important;
            }
        }
    }

    .stress{

        .what_link{
            margin-left: 25px;
        }

        .what_content{

            margin-left: 25px;
        }
    }

    .benefits_exercise{

        text-align: center;

        .tips_title{
            margin-left: 25px;
        }

        .people_content{
            margin-left: 25px;
            margin-bottom: 25px;
        }

    }


    .accuit{
      
        .what_content{
    
            p{
                padding-top: 20px!important;
            }
        }
    }

}

// @media screen and (max-width: 992px) {

    


// }

