.KNOWLEDGe{
    
        @extend .More_success;
        background-color: #000;
  
    

.knowledge_text{
    padding-top: 40px;
    .effective_shortTitle{
        span{
            padding: 10px 10px;
            background-color: rgb(27 51 49);
            border-radius: 8px
            
        }

    }
    .effective_longTitle{
        h1{
            color: #fff;
        }
    }
}
    .success_card{
        max-width: 325px;
        height: auto;
        background-color: #ffffff;
        border-radius: 10px;
        height: 550px;
        margin: 20px 10px 40px 10px;
        .i_feel{
            padding: 10px 15px;
        }
        .card_button{
            text-transform: uppercase;
            a{
                text-decoration: none;
                color: #000;
                span:nth-child(1){
                    font-size: 16px;
                    font-weight: 600;
                    padding: 10px 10px;
                    background-color: #000;
                    color: #fff;
                    border-radius: 10px;
                    margin-right: 10px;
                }
                span:nth-child(2){
                    font-size: 12px;
                    padding: 10px 10px;
                    border-radius: 10px;
                    margin-right: 10px;
                }
            }
            margin: 20px 0px;
        }
        .card_content{
            p{
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                font-family: sans-serif;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }
        }
        .card_title{
            margin: 15px 0px;
            a{
                display: flex;
                align-items: center;
                b{
                    text-decoration: none;
                    font-size: 16px;
                    font-family: 'sans-serif';
                    }
            }
        }

        .card_heading{
            h5{
                font-weight: 600;
                line-height: 30px;
                letter-spacing: 0.019px;
            }
        }
        .card_mega_img{
            // margin-top: 80px;
        }
    }







}

