$primary-color: #000;
$secondary-color: #6c757d;

.research-section {
    background-color: #F5F5F5;
    // padding: 40px 0;

    h1 {
        font-weight: bold;
        color: $primary-color;
    }

    .badge {
        font-size: 14px;
        padding: 8px 12px;
        background-color:  #fff !important; 
        color: #000;
    }

    p {
        color: $secondary-color;
    }

    .btn-dark {
        transition: all 0.3s ease;
        
        &:hover {
            background-color: lighten($primary-color, 20%);
            color: #fff;
        }
    }

    img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }



    .research{
        max-width: 450px;
        height: auto;
       

        h1{
            font-size: 31px;
            color: #1D1C1D;
            margin: 25px 0px;
        }

        button{
            margin: 15px 0px;
            background-color: transparent;
            color: #000;
            font-weight: 500;
            padding: 10px 20px;
        }
        button:hover{
            cursor: pointer;
            margin: 15px 0px;
            background-color: #ebebeb;
            color: #000;
            font-weight: 500;
            padding: 10px 20px;
            transition: 0.3s;
        }

    }
    .research_image{
        position: relative;
        
    }
    .research_ima{
        position: absolute;
        top: -250px;
        left: 70px;
    }
    .Read_full{

        
            margin: 15px 0px;
            background-color: transparent;
            color: #000;
            font-weight: 500;
            padding: 10px 20px;
        
        button:hover{
            cursor: pointer;
            margin: 15px 0px;
            background-color: #ebebeb;
            color: #000;
            font-weight: 500;
            padding: 10px 20px;
            transition: 0.3s;
        }


    }


}

.research-section{
    .research_img{
        max-width: 450px;
        height: 300px;
        
    }
}


@media screen and (min-width: 769px) {

    .research-section .Read_full {
        display: none;
    }


}


@media screen and (max-width: 768px) {

    .large_device{
        display: none;
    }

    .research-section .Read_full {
        margin: 15px 0px;
        background-color: rgba(0, 0, 0, 0);
        color: #000;
        font-weight: 500;
        padding: 10px 20px;
        width: 100%;
    }


}

@media screen and (min-width: 1024px) {

    .research-section{
        padding: 50px 100px 30px 100px;
    }

}


.Obesity_2{
    padding: 30px 0px 30px 0px;
    .not{
        max-width: 450px;
    }
}
