body{
    br{
        display: none;
    }
}


.effective_weight{
    .weight_title{
        padding: 0px 30px;
        h1{
            text-transform: uppercase;
        }
    }
}
.UK_licensed{
    .genetics{
        width: 325px !important;
        height: 325px !important;
    }
}

.tips{
    .titps_images{
        a{
            text-decoration: underline #000;
            color: #00ccbd;
        }
        a:hover{
            text-decoration: underline #00ccbd;
        }
    }
}


// <!-- ======================================================= FAQs  section  start  =========================================================================== -->


.KNOWLEDGe{
    .success_card{
        position: relative;
        .card_mega_img{
            position: absolute;
            bottom: 40px;
            left: 0px;
            max-width: 285px;
            height: 230px;
            img{
                width: 100%;
                height: 200px;
            }
        }
    }
}