

body {
    background-color: #f8f9fa;
}

.all_content{


    .plans{

        h5{
            font-weight: 700;
        }
        p{
            font-weight: 500;
        }
    }

    .next_btn{

        a{
            text-decoration: none;
            color: #fff;

            i{
                padding-left: 10px;
            }
        }
    }
}
.shippin_section{

    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.plans .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s;
    position: relative;
}
.plans .plan.active {
    border-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.badge_save {
    background-color: #00ccbd;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.price-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-right: 5px;
}
.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    padding-right: 20px!important;

}
.total-box {
    border-top: 2px solid #000;
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all_content{
    margin: 0 auto;

    .next_btn{
        text-align: center;
        width: 50%;
        margin-left: 20%;
        margin-top: 50px;
        background-color: #00ccbd;
        color: #000;
        font-size: 20px;
        font-weight: bold;
        border: none;
        height: 60px;
    }

    .next_btn:hover{

        background-color: #00beb0;
    }



}

// media query

@media screen and (max-width: 768px) {
    
    .shippin_section{

        width: 90%;
    }
}