.sleep_weightloss {

    .sleep_img {

        img {
            width: 100%;
        }
    }

    .sleep_content {

        padding: 50px 35px;

        .top_text {
            color: #000;
            font-weight: bold;
            text-transform: uppercase;

        }

        .big_title {
            padding: 15px 0;
            font-size: 75px;
            line-height: 70px;
            text-transform: uppercase;
            font-family: 'Impact', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        .icon_style {

            li {
                font-size: 15px;
            }

            i {
                background-color: #000;
                padding: 5px 8px;
                font-size: 14px !important;
                color: aqua;
                font-weight: bold;
                margin-right: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
    }
}


// responsive


.row>* {
    padding-left: 0 !important;

    padding-right: 0 !important;
}


// how is sleep section
.how_is_sleep {
    background-color: #f5f5f5;
    padding: 50px 0;

    .how_title {

        padding-left: 80px;

        h1 {
            font-size: 60px;
            font-family: 'Impact', sans-serif;
            font-weight: 300;
            text-transform: uppercase;

        }
    }

    .how_content {

        p {
            padding-bottom: 15px;
        }
    }

    .mb-2 {
        margin-bottom: 0 !important;
    }
}

// responsive code
@media screen and (max-width: 767px) {
    .how_is_sleep {

        .how_title {
            padding-left: 20px;

            h1 {
                font-size: 40px;
            }

        }

        .how_content {
            p {
                padding-left: 20px;
                padding-right: 20px;

            }
        }
    }


    .px-5 {
        padding-left: 0 !important;
    }


    .how_health {
        .how_health_title {

            padding-bottom: 20px;

            p {
                padding: 10px 5px !important;
                color: #535353;
            }

            .learn_btn {
                padding-left: 5px !important;
            }
        }
    }

    .people_who_title {
        font-size: 20px !important;
        padding-left: 20px;
    }

    .tips_title {

        text-align: center !important;
        padding-left: 10px !important;

    }
}

// 7ways_sleep section

.ways_sleep {
    background: radial-gradient(circle, rgba(0, 204, 190, .25) 0, rgba(0, 204, 190, 0) 80%), #0f0f0f;
    padding: 25px 0;
    color: #fff;

    .space_box {
        padding: 0 50px;
    }

    .ways_content {
        padding: 0 30px;

        h4 {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

// people who section

.people_who {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 0;

    .people_who_content {
        background: radial-gradient(50% 132.32% at 50% 50%, rgba(0, 204, 189, .2) 0, rgba(0, 204, 189, 0) 100%), #fff;


        .tips_title {

            p {
                font-weight: 400;
                color: #a4a3a3;
            }
        }

        .people_content {
            background: #effbfa;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
            margin: 0 10px;
            height: 250px;

            transition: all 0.3s ease-in-out;
            border-radius: 2px;

            h4 {
                font-size: 20px;
                font-weight: 600;
                text-shadow: 0 0 0 .3px #000000;
            }

        }
    }
}

// How health coaching section

.how_health {
    background-color: #f5f5f5;

    .how_health_title {
        padding-top: 15px;
        padding-right: 30px;

        h2 {
            font-weight: bold;
            color: #000;
            padding: 0 10px;
        }

        p {
            padding: 10px 20px;
            color: #535353;
        }

        .learn_btn {

            padding-left: 20px;

            button {
                border: 1px solid #000000;
                border-radius: 10px;
                padding: 10px 25px;
                cursor: pointer;
                transition: .2s;

                a {
                    color: #000000;
                    text-decoration: none;
                    color: #000;
                    text-transform: capitalize;
                    font-weight: 500;
                }

                i {
                    margin-left: 10px;
                }
            }

            button:hover {
                background: #f5f5f5;
            }
        }
    }


    .how_health_content {

        img {
            width: 100%;
            height: auto;
            max-width: 400px;
        }
    }
}

// A holistic approach section
.holistic_approach {
    background: #0f0f0f;
    color: #fff;
    padding: 50px 0 30px 0;

    .holistic_title {
        padding-right: 25px;

        h2 {
            padding: 10px;
        }

        p {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-right: 20px;
        }

        ul {
            margin-right: 20px;
            margin-left: 20px;

            li {

                a {
                    color: #01beb0 !important;
                    border-bottom: 1.5px solid #fff;
                    text-decoration: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                a:hover {
                    border-bottom: 1.5px solid #01beb0;
                }
            }
        }
    }

    .holistic_content {

        img {
            width: 100%;
            height: auto;
            max-width: 400px !important;
        }
    }


}


// media query
@media screen and (max-width: 767px) {


    .holistic_approach {

        .holistic_title {

            margin: 0 auto;
            padding-left: 20px;

            p {
                margin-right: 0 !important;
            }

            h2 {
                padding: 0 !important;
            }

            .learn_btn {
                margin-left: 0 !important;
            }

        }


        .holistic_content {
            text-align: center !important;
            padding-top: 20px;

            img {
                text-align: center;
                margin-left: 25px !important;
            }
        }

    }



}


// A holistic approach section

// The getweightloss Weight Loss section

.getweightloss_weightloss {
    @extend .holistic_approach;
    background-color: #f5f5f5;
    color: #000000;

    h2 {
        font-weight: bold;

    }

    ul {
        color: #797979 !important;

        a {
            border-bottom: 1.5px solid #000 !important;
            color: #797979 !important;
        }

        a:hover {
            border-bottom: 1.5px solid #01beb0 !important;
        }
    }

    p {
        color: #797979 !important;
        padding: 10px;
    }

    .learn_btn {

        margin-left: 40px !important;

        button {
            border: 1px solid #000000;
            border-radius: 10px;
            padding: 10px 25px;
            cursor: pointer;
            transition: .2s;

            a {
                color: #000000;
                text-decoration: none;
                color: #000;
                text-transform: capitalize;
                font-weight: 500;
            }

            i {
                margin-left: 10px;
            }
        }

        button:hover {
            background: #f5f5f5 !important;
        }
    }
}


// reference section
.reference_sec {
    background: #fff;

    .reference_content {

        .title {
            padding: 20px 0 10px 0;

            h1 {
                color: #5d5d5d;
                font-size: 30px;
                font-weight: bold;
            }
        }

        p {
            font-size: 14px;
            color: #1f1f1f;
            padding-bottom: 10px;


            a {
                color: #01beb0;
                text-decoration: none;
            }

            a:hover {
                border-bottom: 1px solid #01beb0;
            }
        }
    }
}
