.the_progress{

    background: radial-gradient(circle, rgba(0, 204, 190, .25) 0, rgba(0, 204, 190, 0) 80%), #0f0f0f;
    color: #ffffff;




    .timeline {
        position: relative;
        padding: 20px 0;
        .online{
            position: relative;
            p{
                font-weight: 400;
                font-size: 16px;
            }
            .image-container{
                position: absolute;
                right: 15px;
                top: 10px;
            }
        }
     
    }
    .progress-line {
        display: flex;
        gap: 285px;
        position: relative;
        margin-top: 30px;
    }
    .progress-line::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 1%;
        width: 88%;
        height: 1px;
        background-color: #ffffff;
    }
    .dot {
        width: 20px;
        height: 20px;
        background-color: #17a2b8;
        border-radius: 50%;
        position: relative;
        z-index: 2;
    }



    .progress_content{
        // padding: 0px 0px 0px 120px;


        .progress_title{
            padding-top: 30px;
            .loss{
                padding: 15px 15px;
                font-weight: 600;
            }
        }

        .badge{
            padding: 10px 15px;
            font-weight: 600;
            margin: 20px 0px;
        }


    }
    
}













@media screen and (min-width: 1024px) { 


    .the_progress{
        padding: 30px 100px 30px 100px;
    }
    

}
