// learn more button
.learn_btn {

    padding-left: 20px;

    button {
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px 25px;
        cursor: pointer;
        transition: .2s;

        a {
            color: #000000;
            text-decoration: none;
            color: #000;
            text-transform: capitalize;
            font-weight: 500;
        }

        i {
            margin-left: 10px;
        }
    }

    button:hover {
        background: #f5f5f5;
    }
}


// tips section

.deep_dive{

    .deep_motivations{

        border-right: 1px solid #288881;
        width: 100%;
        height: 100%;
        position: relative;

        .number_count{

            color: #000;
            font-size: 14px;
            background-color: #00ccbd;
            padding: 5px 10px;
            width: fit-content;
            border-radius: 5px;
            margin: 10px 0;
            font-weight: 600;
            text-shadow: 0 0 0 .3px #000;
        }
    }
    .deep_motivations3{

        @extend .deep_motivations;
        border-right: none;
    }
    .deep_motivations3::after{
        position: absolute;
        content: "";
        background-color: #00ccbd;
        width: 15px;
        height: 15px;
        left: 0;
        bottom: 0;
        border-radius: 50%;
    }

    .deep_motivations::after{
        position: absolute;
        content: "";
        background-color: #00ccbd;
        width: 15px;
        height: 15px;
        left: -8px;
        bottom: 0;
        border-radius: 50%;
    }
    .deep_motivations::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #00ccbd;
        bottom: 5px;
        left: 0;
    }

    .deep_motivations3::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background: #00ccbd;
        bottom: 5px;
        right: 0;
    }

}

// accuit sectionb

@media screen and (max-width: 768px) {

    .balanced_diet{

        .people_who_content{

            .people_content{
    
                margin-left: 25px!important;
            }
        }

        
    }

   
}

// The flaws of calorie counting section start 

.flaws_calorie{

    .flaws_left{

        img{
            padding-bottom: -50px;
        }
        
    }
}

// The components of a balanced diet section
.balanced_diet{

    .one_row{
        width: 95%;
        height: 100%;
        max-height: 700px;
        margin: 0 10px;
        background-color: #fff;

        h4{
            font-size: 18px;
            font-weight: 900;
        }
        p{
            font-size: 15px;
            line-height: 30px;
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 768px) {


    .balanced_diet{

        .one_row{

            margin-bottom: 10px;
        }
    }

}

// Revel in the wins section

.acute_stress{

    .decrease_wide{
        width: 90%;
    }
}

// Exercise, exercise, exercise section

.exercise_sec{

    background: #fff;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;

    .exerise_img{
        padding: 0;
        margin-bottom: -50px;
        overflow: hidden;
    }

    .exercise_content{

        padding-top: 25px;
    }
}

// 6 effective weight loss exercises section

.effective_weightloss{

    background: radial-gradient(50% 132.32% at 50% 50%, rgba(0, 204, 189, .2) 0, rgba(0, 204, 189, 0) 100%), #fff!important;
    color: #000;
}

// Stress and sleep: section

.stress_sleep{


    .stress_sleep_title{
        width: 80%;
        margin: 0 auto;
        padding: 0;

    }

    .learn_btn{

        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 0;

        
    }
    .right_btn{
            padding-bottom: 20px;
            margin-top: 10px;
    }
}

// getweightloss'S WEIGHT LOSS PROGRAMME section

.weightloss_programme{

    background-color: #000000!important;
    color: #fff;
}
