.effective{
    padding-top: 30px;
    background-color: #fff !important;
    .effective_content{
        padding-top: 50px;
        .effective_shortTitle{
                
                
            span{
            background-color: #F5F5F5;
            padding: 10px 10px;
            margin: 10px 0px;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            color: #000;
            text-decoration: none;
            }
        }
        .effective_longTitle{
            margin: 30px 0px 0px 0px;
            h1{
                font-size: 30px;
                font-weight: 600;
            }
        }
        .effective_longTitl{
            span{
                text-decoration: none;
                font-size: 15px;
                font-weight: 400;
                color: #535353;
            }
        }
    }
    .box_slide{
        margin: 0px 5px;
        width: 310px !important;
        height: 550px;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        background-color: #C6D5D4;
        .wegovy{

        position: relative;
            .slide_butto{
                position: absolute;
                bottom: -170px;
                left: 0px;
                width: 100%;
            }
        }
        .wegovy_title{
            text-align: center;
            h5{
                font-weight: 700;
                text-decoration: none;


            }
        }
        .proven{
            text-align: center;
        }
        .price{
            margin: 15px 0px;
        }
        .imges{
            margin: 35px;
        }
        button{
            margin: 20px 0px;
            width: 100%;
            padding: 15px 0px;
            border-radius: 10px;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            gap: 5px;
            align-items: center;
            background-color: transparent;
            a{
                text-decoration: none;
                color: #000;
            }
        }
        button:hover{
            cursor: pointer;
            border-color: rgb(142 142 142);
            color: rgb(83 83 83);
            fill: #535353;
        }

        .slider_button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                background-color: #00ccbd;
                color: #000;
                font-weight: 600;
                // margin: 0px 10px 32px 0px !important;

            }
            button:nth-child(1){
                background-color: #B0D136;
                margin: 20px 10px;
                width: 140%;
                padding: 15px 0px;
                border-radius: 10px;
                border: none;
                display: flex;
                justify-content: center;
                gap: 5px;
                align-items: center;
            }
            button:nth-child(1):hover{

                cursor: pointer;
                background-color: #0ba99d;
                transition: 0.1s;
                
            }
            button:nth-child(2){
                background-color: transparent;
                margin: 20px 0px;
                width: 100%;
                padding: 13px 0px;
                border-radius: 10px;
                border: 1px solid #000;
                display: flex;
                justify-content: center;
                gap: 5px;
                align-items: center;
            }
            button:nth-child(2):hover{
                cursor: pointer;
                border-color: rgb(142 142 142);
                color: rgb(83 83 83);
                fill: #535353;
                transition: 0.5s;
            }
        }

    }

}



@media screen and (min-width: 1024px) { 


    .effective{
        padding: 30px 100px 30px 100px;
    }
    

}
