body{
    background-color: #f5f5f5;
}
.works{
    color: #fff;
    margin-top: 50px;
    .expert{
        background-color: rgb(117, 104, 104);
        padding: 15px 15px;
        max-width: 500px;
    }
    .price{
        @extend .expert;
    }

}
.effective_content{
    p{
        font-size: 20px;
        font-weight: 500;
    }
}
.excellent_title{
    justify-content: left;
}

// <!-- ==========================================Weight loss tips section start  =======================================-->




.tips{
    background-color: #f5f5f5;
    margin-top: 40px;
    .titps_images{
        background-color: #fff;
        width: 1080;
        .tips_imge{
            text-align: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        .tips_title{
            margin: 25px 25px;

            h2{
                text-decoration: none;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: .1;

            }
        }
        .tips_content{
            margin: 25px 25px;

            ul{
                li{
                    margin: 20px 0px;

                }
            }
        }
        .tips_button{
            margin: 50px 25px;
            padding-bottom: 50px;
            button{
                background-color: transparent;
                color: #000;
            }
            button:hover{
                cursor: pointer;
                background-color: #ebeef1;
                transition: 0.3s;
                border-color: #ebeef1;
            }
        }
    }
}

.effective{
    .effective_content{
        .tips_button{
            margin: 40px 10px;
            padding-bottom: 10px;
            button{
                background-color: transparent;
                color: #000;
            }
            button:hover{
                cursor: pointer;
                background-color: #ebeef1;
                transition: 0.3s;
                border-color: #ebeef1;
            }
        }
    }
}






// <!-- ==========================================Weight loss tips section End  =======================================-->