<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Health Self Tests, Easy, from Home" />

		<title>GetWeightLoss - category</title>

		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Catamaran&family=Inter:opsz,wght@14..32,100..900&family=Plus+Jakarta+Sans:wght@200..800&family=Poppins:wght@500&family=Urbanist:wght@100..900&display=swap"
			rel="stylesheet" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="css/style.min.css" />
		<link
			rel="stylesheet"
			href="css/pages/category.min.css" />

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
		<script
			src="js/index.min.js"
			defer></script>
	</head>

	<body class="page categoryPage d-flex flex-column">
		<div id="topBarContent"></div>

		<template id="desktop-template">
			<div class="topBar urbanist-regular">
				<div class="container d-flex">
					<div
						class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
						<img
							width="24"
							height="24"
							src="./img/icons/star.svg"
							alt="Outline star" />

						<span class="">No prescription required</span>
					</div>

					<div
						class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
						<img
							width="24"
							height="24"
							src="./img/icons/star.svg"
							alt="Outline star" />

						<span class="">Free shipping worldwide</span>
					</div>

					<div
						class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
						<img
							width="24"
							height="24"
							src="./img/icons/star.svg"
							alt="Outline star" />

						<span class="">100% online order & results</span>
					</div>

					<div
						class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
						<img
							width="24"
							height="24"
							src="./img/icons/star.svg"
							alt="Outline star" />

						<span class="">Trusted by over 500K people</span>
					</div>
				</div>
			</div>
		</template>

		<template id="tablet-template">
			<div
				id="topBarCarouselMd"
				class="topBar topBar_carousel carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<div
						class="carousel-item active"
						data-bs-interval="4000">
						<div class="d-flex">
							<div
								class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
								<img
									width="24"
									height="24"
									src="./img/icons/star.svg"
									alt="Outline star" />

								<span class="">No prescription required</span>
							</div>

							<div
								class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
								<img
									width="24"
									height="24"
									src="./img/icons/star.svg"
									alt="Outline star" />

								<span class="">Free shipping worldwide</span>
							</div>
						</div>
					</div>
					<div
						class="carousel-item"
						data-bs-interval="4000">
						<div class="d-flex">
							<div
								class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
								<img
									width="24"
									height="24"
									src="./img/icons/star.svg"
									alt="Outline star" />

								<span class="">100% online order & results</span>
							</div>

							<div
								class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
								<img
									width="24"
									height="24"
									src="./img/icons/star.svg"
									alt="Outline star" />

								<span class="">Trusted by over 500K people</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="mobile-template">
			<div
				id="topBarCarousel"
				class="topBar topBar_sm carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					<div
						class="carousel-item active"
						data-bs-interval="4000">
						<div
							class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
							<img
								width="24"
								height="24"
								src="./img/icons/star.svg"
								alt="Outline star" />

							<span class="">No prescription required</span>
						</div>
					</div>
					<div
						class="carousel-item"
						data-bs-interval="4000">
						<div
							class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
							<img
								width="24"
								height="24"
								src="./img/icons/star.svg"
								alt="Outline star" />

							<span class="">Free shipping worldwide</span>
						</div>
					</div>
					<div
						class="carousel-item"
						data-bs-interval="4000">
						<div
							class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
							<img
								width="24"
								height="24"
								src="./img/icons/star.svg"
								alt="Outline star" />

							<span class="">100% online order & results</span>
						</div>
					</div>
					<div
						class="carousel-item"
						data-bs-interval="4000">
						<div
							class="topBar__item col w-100 d-inline-flex justify-content-center align-items-center">
							<img
								width="24"
								height="24"
								src="./img/icons/star.svg"
								alt="Outline star" />

							<span class="">Trusted by over 500K people</span>
						</div>
					</div>
				</div>
			</div>
		</template>
		<header class="header">
			<div class="container">
				<div
					class="header__top d-flex flex-wrap justify-content-between align-items-center">
					<div class="header__logo">
						<a
							class="d-inline-block"
							href="/">
							<img
								width="232"
								height="65"
								src="./img/icons/logo.svg"
								alt="NLCLINIC logo" />
						</a>
					</div>

					<div class="header__actions d-flex justify-content-between">
						<div
							class="header__search headerSearch urbanist-regular flex-grow-1">
							<i class="headerSearch__icon d-block ratio-1x1"></i>
							<input
								type="text"
								class="headerSearch__input rounded-pill flex-grow-1"
								placeholder="Search for a test" />
						</div>

						<div class="header__links d-flex align-items-center">
							<a
								aria-label="Go to profile"
								href="#"
								class="header__link ratio-1x1"
								><svg
									width="25"
									height="25"
									viewBox="0 0 25 25"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M20.7246 21.5C20.7246 18.7386 17.1429 16.5 12.7246 16.5C8.30633 16.5 4.72461 18.7386 4.72461 21.5M12.7246 13.5C9.96319 13.5 7.72461 11.2614 7.72461 8.5C7.72461 5.73858 9.96319 3.5 12.7246 3.5C15.486 3.5 17.7246 5.73858 17.7246 8.5C17.7246 11.2614 15.486 13.5 12.7246 13.5Z"
										stroke="#030F2D"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round" /></svg></a
							><a
								aria-label="Go to busket"
								href="#"
								class="header__link ratio-1x1"
								><svg
									width="25"
									height="25"
									viewBox="0 0 25 25"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M17.7246 17.5C16.62 17.5 15.7246 18.3954 15.7246 19.5C15.7246 20.6046 16.62 21.5 17.7246 21.5C18.8292 21.5 19.7246 20.6046 19.7246 19.5C19.7246 18.3954 18.8292 17.5 17.7246 17.5ZM17.7246 17.5H10.0186C9.55749 17.5 9.32654 17.5 9.13672 17.418C8.96927 17.3456 8.82399 17.2291 8.71815 17.0805C8.59951 16.914 8.5518 16.6913 8.45735 16.2505L5.99609 4.76465C5.89945 4.31363 5.85048 4.08838 5.73047 3.91992C5.62462 3.77135 5.47938 3.65441 5.31193 3.58205C5.12206 3.5 4.8924 3.5 4.43114 3.5H3.72461M6.72461 6.5H19.5978C20.3196 6.5 20.6801 6.5 20.9224 6.65036C21.1346 6.78206 21.2899 6.98862 21.3577 7.229C21.435 7.50343 21.3356 7.84996 21.1356 8.54346L19.751 13.3435C19.6314 13.7581 19.5715 13.965 19.4502 14.1189C19.3431 14.2547 19.2018 14.361 19.0417 14.4263C18.8607 14.5 18.6457 14.5 18.2167 14.5H8.45508M8.72461 21.5C7.62004 21.5 6.72461 20.6046 6.72461 19.5C6.72461 18.3954 7.62004 17.5 8.72461 17.5C9.82918 17.5 10.7246 18.3954 10.7246 19.5C10.7246 20.6046 9.82918 21.5 8.72461 21.5Z"
										stroke="#030F2D"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round" /></svg></a
							><a
								aria-label="Go to favorites"
								href="#"
								class="header__link ratio-1x1"
								><svg
									width="25"
									height="25"
									viewBox="0 0 25 25"
									fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M12.7246 8.19431C10.7246 3.49988 3.72461 3.99988 3.72461 9.99991C3.72461 15.9999 12.7246 21.0001 12.7246 21.0001C12.7246 21.0001 21.7246 15.9999 21.7246 9.99991C21.7246 3.99988 14.7246 3.49988 12.7246 8.19431Z"
										stroke="#030F2D"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round" /></svg
							></a>
						</div>
					</div>
				</div>

				<div class="header__nav">
					<button
						id="headerNavToggler"
						class="header__toggler d-md-none">
						<span class="d-block"></span>
						<span class="d-block"></span>
						<span class="d-block"></span>
					</button>
					<nav class="tabs">
						<ul
							class="m-md-0 px-3 px-md-0 d-flex flex-wrap justify-content-md-between align-items-start align-items-md-center">
							<li>
								<a
									class="tabs__link tabs__link_active urbanist-regular"
									href="#">
									All Tests
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									Male Tests
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									Female Tests
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									Sports Performance
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									Wellness
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									Conditions
								</a>
							</li>
							<li>
								<a
									class="tabs__link urbanist-regular"
									href="#">
									About
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<nav
			class="breadcrumb__wrapper"
			aria-label="breadcrumb">
			<div class="container">
				<ol class="breadcrumb urbanist-semiBold m-0 text-center">
					<li class="breadcrumb-item breadcrumb__item">
						<a
							href="/"
							class="breadcrumb__link breadcrumb__link_home"
							>Back to Home</a
						>
					</li>

					<li
						class="breadcrumb-item breadcrumb__item active"
						aria-current="page">
						Men’s Health Tests
					</li>
				</ol>
			</div>
		</nav>

		<main class="page__content page__gap container">
			<div
				class="page__group_title d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
				<h1 class="page__title urbanist-medium m-0 flex-grow-1 lh-sm">
					Men's Health Tests
				</h1>
				<p class="urbanist-regular m-0 flex-grow-1">
					Our Men's Health Checks cover many of the main issues which affect
					men. From identifying hormone imbalances to full health checks.
				</p>
			</div>

			<div class="categoryPage__grid">
				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>

				<div class="card testCard">
					<div class="card-body">
						<h5 class="card-title testCard__title urbanist-medium">
							Ultimate Performance Blood Test
						</h5>
						<p class="card-text testCard__text urbanist-regular">
							Our ultimate blood test for men and women gives you our most
							comprehensive health check, including advanced profiles for your
							hormone...
						</p>

						<div
							class="testCard__info d-flex flex-column-reverse flex-sm-row align-items-sm-center justify-content-between">
							<span class="testCard__price urbanist-medium lh-sm"
								><sup class="testCard__currency">$</sup>199</span
							>
							<span class="testCard__text urbanist-regular mb-2 mb-sm-0"
								>Results: 3 working days</span
							>
						</div>

						<div
							class="testCard__actions urbanist-semiBold d-flex flex-column flex-sm-row align-items-center">
							<button class="button button_fill urbanist-semiBold w-100">
								Add to cart
							</button>
							<button class="button button_outline urbanist-semiBold w-100">
								Learn more
							</button>
						</div>
					</div>
				</div>
			</div>

			<button
				class="button d-block mx-auto categoryPage__button poppins-medium">
				Load more
			</button>
		</main>
		<footer class="page__footer footer">
			<div class="container">
				<div
					class="footer__top urbanist-regular d-flex flex-column flex-xl-row justify-content-between">
					<div class="footer__group_logo d-flex flex-column align-items-start">
						<a
							class="d-inline-block"
							href="/">
							<img
								class=""
								src="./img/icons/logo-light.svg"
								width="232"
								height="65"
								alt="NLCLINIC logo" />
						</a>
						<span class="text-white lh-base"
							>Your health, simplified with <br />
							self-tests at your home’s ease</span
						>
					</div>

					<div class="footer__group_nav">
						<nav class="footerNav">
							<ul
								class="footerNav__list m-0 ps-0"
								aria-label="Popular Tests">
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Test 1</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Test 2</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Test 3</a
									>
								</li>
							</ul>

							<ul
								class="footerNav__list m-0 ps-0"
								aria-label="Support">
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>FAQ’s</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Privacy Policy</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Terms & Conditions</a
									>
								</li>
							</ul>

							<ul
								class="footerNav__list m-0 ps-0"
								aria-label="Company">
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Company</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Blog</a
									>
								</li>
								<li class="footerNav__item">
									<a
										class="footerNav__link"
										href="#"
										>Services</a
									>
								</li>
							</ul>

							<ul
								class="footerNav__list footerNav__list_contact m-0 ps-0"
								aria-label="Contact info">
								<li
									class="footerNav__item footerNav__item_address d-flex align-items-center">
									<a
										class="footerNav__link"
										href="/"
										>123 Address, Town</a
									>
								</li>
								<li
									class="footerNav__item footerNav__item_phone d-flex align-items-center">
									<a
										class="footerNav__link"
										href="tel:+1234567890"
										>+1 234 567 890</a
									>
								</li>
								<li
									class="footerNav__item footerNav__item_mail d-flex align-items-center">
									<a
										class="footerNav__link"
										href="mailto:support@nlclinic.com.cy"
										>support@nlclinic.com.cy</a
									>
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<div
					class="footer__subscribe footerSubscribe d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
					<span class="footerSubscribe__title lh-sm urbanist-medium text-white"
						>Subscribe to <br class="d-none d-lg-inline-block" />
						our newsletter.</span
					>

					<form
						class="footerSubscribe__form d-flex flex-wrap flex-sm-row"
						action="POST">
						<input
							class="footerSubscribe__input urbanist-regular rounded-pill w-lg-50"
							type="email"
							name="subscribeEmail"
							id="subscribeEmail"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
							required
							placeholder="Email address" />
						<button
							class="button button_fill footerSubscribe__button urbanist-semiBold">
							Subscribe
						</button>
					</form>
				</div>

				<div
					class="footer__bottom urbanist-regular py-4 d-flex flex-column flex-sm-row justify-content-between align-items-center">
					<span>&copy; NL Clinic 2024 All right reserved.</span>
					<ul
						class="footer__social footerSocial m-0 ps-0 d-flex align-items-center">
						<li class="footerSocial__item">
							<a
								class="footerSocial__link rounded-circle ratio-1x1 lh-1 d-flex align-items-center justify-content-center"
								href="#">
								<img
									width="9"
									height="17"
									src="./img/icons/social/facebook-logo.svg"
									alt="Facebook logo" />
							</a>
						</li>
						<li class="footerSocial__item">
							<a
								class="footerSocial__link rounded-circle ratio-1x1 lh-1 d-flex align-items-center justify-content-center"
								href="#">
								<img
									width="18"
									height="18"
									src="./img/icons/social/instagram-logo.svg"
									alt="Instagram logo" />
							</a>
						</li>
						<li class="footerSocial__item">
							<a
								class="footerSocial__link rounded-circle ratio-1x1 lh-1 d-flex align-items-center justify-content-center"
								href="#">
								<img
									width="15"
									height="15"
									src="./img/icons/social/x-logo.svg"
									alt="X logo" />
							</a>
						</li>
						<li class="footerSocial__item">
							<a
								class="footerSocial__link rounded-circle ratio-1x1 lh-1 d-flex align-items-center justify-content-center"
								href="#">
								<img
									width="15"
									height="14"
									src="./img/icons/social/linkedin-logo.svg"
									alt="Linkedin logo" />
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>
