<div class="box_slide">
    <div class="wegovy">
        <div class="wegovy_title">
            <h5><perch:content id="heading" type="text" label="Heading" required title></h5>
        </div>
        <span class="proven" ><perch:content id="card_parag" type="text" label="Paragraph" required title></span>
        <p class="price">
            <perch:content id="price" type="text" label="Price" required title>
           <!-- From <span class="old-price">&pound;209.00</span>
            <span class="new-price" style="color: #288881 !important;" >&pound;78.00</span> / kit-->
        </p>
       <div class="imges">
           <perch:content id="imgtext" type="text" label="Image Text" required title>

           <!--   <img style="width: 178px;" src="<perch:content type="image" id="image" label="Image" width="800">" alt="">
        -->
        </div>
         <div class="slide_butto">

                 <perch:if exists="url_buynow">

                     <button ><a href="<perch:content id="url_buynow" type="text" label="URL Buy now"  title>">Buy now <i class="fa-solid fa-arrow-right"></i></a></button>
                 </perch:if>
                 <perch:if exists="url_learnmore">
                     <button><a href="<perch:content id="url_learnmore" type="text" label="URL Learn more"  title>">Learn more</a></i></button>



                 </perch:if>

         </div>
     </div>

 </div>
