
<div class="container-fluid basket-container">
    <h1 class="text-uppercase text-center mt-8 recommended">Also Recommended to you</h1>

    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="images/2.jpg" class="img-fluid">
            <h4 class="text-uppercase h4-img font-weight-bold mt-3"> Lorem ipsum dolor sit amet <span class="h4-img float-right font-weight-bold"> $11.95 </span> </h4>
            <h6> Lorem ipsum </h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="images/2.jpg" class="img-fluid">
            <h4 class="text-uppercase h4-img font-weight-bold mt-3"> Lorem ipsum dolor sit amet <span class="h4-img float-right font-weight-bold"> $11.95 </span> </h4>
            <h6> Lorem ipsum </h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="images/2.jpg" class="img-fluid">
            <h4 class="text-uppercase h4-img font-weight-bold mt-3"> Lorem ipsum dolor sit amet <span class="h4-img float-right font-weight-bold"> $11.95 </span> </h4>
            <h6> Lorem ipsum </h6>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="images/2.jpg" class="img-fluid">
            <h4 class="text-uppercase h4-img font-weight-bold mt-3"> Lorem ipsum dolor sit amet <span class="h4-img float-right font-weight-bold"> $11.95 </span> </h4>
            <h6> Lorem ipsum </h6>
        </div>
    </div>
</div>


<div class="container-fluid background-img mt-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="sub-h1 text-uppercase text-center">Don't Miss Out</h1>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 line2 mb-4 mt-2">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h6 class="sub-h6 text-center">Sign up for our detailed newsletter</h6>
            </div>


        </div>
    </div>
</div>

