<div class="col_sm-12 col-md-4 col-lg-4 ">
    <div class="success_card">
        <div class="i_feel">
            <div class="card_images">
                <img src="/asset/coma.svg" alt="">
            </div>
            <div class="card_content">
                <p>
                    <perch:content id="card_content" type="textarea" label="Text" markdown editor="simplemde" imagewidth="640" imageheight="480">
              </p>
            </div>
            <div class="card_title">
                <b><perch:content id="card_title" type="text" label="Text" required title></b>
            </div>
        </div>
        <!--<div class="card_mega_img">
            <img src="asset/Landing-3.jpg" alt="">
        </div>-->
    </div>
</div>
