<perch:members type="text" id="first_name" label="First name" listing="true" order="1" />
<perch:members type="text" id="last_name" label="Last name" listing="true" order="2" />
<perch:members type="text" id="phone" label="Phone" listing="true" order="3" />
<perch:members type="date" id="dob" label="Date Of Birth" listing="true" order="4" />
<perch:members type="select" id="gender" label="Gender"   options="Gender,Male,Female"  order="7" />

<perch:members type="text" id="affID" label="Affiliate ID" listing="true" order="6"  />

<perch:members type="text" id="referrer" label="Referrer" listing="true" order="5"  />
