<perch:shop id="title" type="text" label="Title" required="true" order="1" />
<perch:shop id="slug" type="slug" editable="true" indelible="true" label="Slug" for="title" order="2" />
<perch:shop id="description" type="textarea" label="Description" order="3" editor="markitup" markdown="true" size="xs" />
<perch:shop id="image" type="image" label="Image" width="800" output="tag" order="4" />

<perch:shop id="status" type="shop_status" label="Status" order="5" divider-before="Status" suppress="true" />

