<div class="plan">
    <div>
        <h5>Order ID</h5>
        <p><perch:shop id="orderID" /></p>
    </div>
    <div>
        <h5>Invoice Number</h5>
        <p><perch:shop id="invoice_number" /></p>
    </div>
    <div>
        <h5>Date</h5>
        <p><perch:shop id="orderCreated" type="date" format="d F Y H:i" /></p>
    </div>
    <div>
        <h5>Total </h5>
        <p><perch:shop id="grand_total_formatted" /></p>
    </div>
    <div>
        <h5>Status </h5>
        <p><perch:shop id="orderStatus" format="UC" /></p>
    </div>
    <div>
        <h5>Shipping </h5>
        <p><perch:shop id="shipping_value"/></p>
    </div>

</div>
