<perch:form id="reset" method="post" app="perch_members" >
	
	<p>Enter your email address and we'll send you a new password.</p>

	<div class="mb-3">

	<perch:label class="form-label" for="email">Email</perch:label>
		<perch:input type="email" class="form-control"  id="email" required="true" label="Email" placeholder="you@email.com" helper="PerchMembers_Members::check_email_exists" />
		<perch:error for="email" type="required">Please add your email address</perch:error>
		<perch:error for="email" type="helper"><p>We don't have an account with that email address.</p></perch:error>
	</div>

	<div class="mb-3">

	<perch:input type="submit" value="Reset" class="btn btn-primary w-100" />
	</div>

	<perch:success>
		<p>A new password has been emailed to you.</p>
	</perch:success>

</perch:form>

