<perch:shop id="title" type="text" label="Title" required="true" order="1" />
<perch:shop id="slug" type="slug" editable="true" indelible="true" label="Slug" for="title" order="2" />
<perch:shop id="description" type="textarea" label="Description" order="3" markdown="true" size="xs" />
<perch:shop id="company" type="text" label="Provider" order="3" help="e.g. Postal Service, FedEx"  />

<perch:shop id="price" type="shop_shipping_price" divider-before="Price to customer" size="s" min="0" step="0.01" default="0.00" />
<perch:shop id="tax_group" type="shop_tax_band" label="Tax group" />


<perch:shop id="price_max" type="shop_currency_value" label="Max order value" size="m" min="0" step="any" size="s" divider-before="Order value" />
<perch:shop id="price_min" type="shop_currency_value" label="Min order value" size="m" min="0" step="any" default="0.00" size="s" />



<perch:shop id="weight_min" type="number" label="Min weight" divider-before="Applicable weights" size="m" min="0" step="any" notes-before="Weights can be in any unit, but you should use the same units everywhere. Enter only the numbers here." />
<perch:shop id="weight_max" type="number" label="Max weight" size="m" min="0" step="any" />

<perch:shop id="width_max" type="number" label="Max width" divider-before="Applicable dimensions" size="m" min="0" step="any" notes-before="Dimensions can be in any unit, but you should use the same units everywhere. Enter only the numbers here." />
<perch:shop id="height_max" type="number" label="Max height" size="m" min="0" step="any" />
<perch:shop id="depth_max" type="number" label="Max depth" size="m" min="0" step="any" />


<perch:shop id="shippingOrder" type="number" label="Priority" size="s" suppress="true" divider-before="Status" required="true" default="1" />
<perch:shop id="status" type="shop_status" label="Status"  suppress="true"  />