<perch:shop id="title" type="text" label="Title" required="true" order="1" />
<perch:shop id="slug" type="slug" editable="true" indelible="true" label="Slug" for="title" order="2" />
<perch:shop id="description" type="textarea" label="Description" order="3" editor="markitup" markdown="true" size="xs" />
<perch:shop id="status" type="shop_status" label="Status" suppress="true" />
<perch:shop id="zoneIsDefault" type="checkbox" default="0" value="1" label="Default zone" help="Use this zone as a catch-all if no others match" />
<perch:shop id="countries" type="shop_country" display-as="checkboxes" divider-before="Countries" label="Countries" />