<perch:before>
</perch:before>
<perch:if different="item_date">
	<perch:if not-exists="perch_item_first"></table></perch:if>

	<h3><perch:shop id="item_date" type="date" format="d F Y" /></h3>
	
	<table>
</perch:if>
	<tr>
		<th>
			<a href="<perch:shop id="perch_page_path" replace="/index.php|_orders/order/?id=" /><perch:shop id="item_order_id" />">
				Order <perch:shop id="item_order_id" />
			</a>
		</th>
		<td>
			<perch:shop id="item_total_formatted" />
		</td>
	</tr>
<perch:after>
</table>
</perch:after>