<perch:form id="register" method="post" app="perch_shop">


	<div class="mb-3">
		<div class="info_requirement">
			<p>
				We are required to confirm the identity of our members. Any incorrect details will cause delays to your order.
			</p>
		</div>
	</div>

	<div class="mb-3">
		<label for="first_name" class="form-label">Legal first name</label>
		<perch:input class="form-control required" type="text" id="first_name" required="true" label="First name" placeholder="First Name"/>
		<perch:error class="error-message text-danger" for="first_name" type="required">Please add your name</perch:error>

		<small class="error-message text-danger"></small>
	</div>

	<div class="mb-3">
		<label for="last_name" class="form-label">Legal surname</label>
		<perch:input class="form-control required" type="text" id="last_name" required="true" label="Last name" antispam="last_name" placeholder="Last Name" />
		<perch:error for="last_name" class="error-message text-danger" type="required">Please add your name</perch:error>

		<small class="error-message text-danger"></small>
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<perch:input class="form-control required" type="email" id="email" required="true" placeholder="Email" helper="PerchMembers_Members::check_email" />
		<perch:error for="email" class="error-message text-danger" type="required">Please add your email address</perch:error>
		<perch:error for="email" class="error-message text-danger" type="helper">That email address is already in use</perch:error>
	</div>
	<div class="mb-3">
		<label for="referrer" class="form-label">Referrer:</label>
		<perch:input class="form-control required" type="text" id="referrer"  label="Referrer"  placeholder="Referrer" />

	</div>
	<div class="mb-3">
		<label for="dob" class="form-label">Date of birth</label>

		<perch:input class="form-control required" type="date" id="dob" required="true" placeholder="yyy/mm/dd" helper="PerchMembers_Members::check_dob" /> <!--helper="PerchMembers_Members::check_phone" />-->
		<perch:error for="dob" class="error-message text-danger" type="required">Please add your date of birth</perch:error>
		<perch:error for="dob" class="error-message text-danger" type="helper">That date of birth is not valid </perch:error>
	</div>
	<div class="mb-3">
		<label for="phone" class="form-label">Phone number</label>
		<perch:input class="form-control required" type="number" id="phone" required="true" placeholder="Phone" /> <!--helper="PerchMembers_Members::check_phone" />-->
		<perch:error for="phone" class="error-message text-danger" type="required">Please add your phone address</perch:error>
		<perch:error for="phone" class="error-message text-danger" type="helper">That phone is already in use</perch:error>
	</div>
	<div class="mb-3">
		<label for="gender" class="form-label">Sex</label>
		<perch:input class="form-control required" type="select" id="gender" required="true" options="Gender,Male,Female" helper="PerchMembers_Members::check_gender" /> <!--helper="PerchMembers_Members::check_phone" />-->
		<perch:error for="gender" class="error-message text-danger"  type="required">Please add your gender</perch:error>
		<perch:error for="gender" class="error-message text-danger"  type="helper">That gender is not valid </perch:error>

	</div>
	<div class="what_sex">
		<p>
			What gender were you assigned at birth, as shown on your original birth certificate. This is important for us to know because it allows us to provide you with treatments as safely as possible.
		</p>
	</div>
	<div class="mb-3">
		<perch:label class="form-label" for="password">Password</perch:label>
		<perch:input class="form-control required" type="password" id="password" required="true" match-with="password2" placeholder="Password" />
		<perch:error for="password" class="error-message text-danger"  type="required">Please add a password</perch:error>
		<perch:error for="password" class="error-message text-danger"  type="match">Passwords do not match</perch:error>
	</div>
	<div class="mb-3">
		<perch:label class="form-label" for="password2">Confirm Password </perch:label>
		<perch:input class="form-control required" type="password" id="password2" required="true" placeholder="Confirm Password" />
		<perch:error for="password2" class="error-message text-danger"  type="required">Please repeat your password</perch:error>
	</div>
<!-- Delivery Address Section -->
<div class="section-header">
	<span class="section-number">2</span>
	<h4>Delivery address</h4>
</div>
	<div class="mb-3">

		<perch:label class="form-label" for="shipping_address_1">Address 1</perch:label>
		<perch:input class="form-control required" type="text" id="shipping_address_1"  required="true" label="Address 1" />

		<perch:error class="error-message text-danger" for="shipping_address_1" type="required">Please add the first line of your address</perch:error>
	</div>
	<div class="mb-3">

		<perch:label class="form-label" for="shipping_address_1">Address 2</perch:label>
		<perch:input class="form-control" type="text" id="shipping_address_2"   label="Address 2" />

	</div>
	<div class="mb-3">
		<perch:label class="form-label" for="postcode">Postal code</perch:label>
		<perch:input class="form-control required" type="text" id="shipping_postcode" label="Postal code" />
		<div  id="suggestions"></div>
		<p  id="selectedResult"></p>
		<small class="error-message text-danger"></small>

	</div>
	<div class="mb-3">
		<perch:label for="country">Country</perch:label>
		<perch:input type="select" options="<perch:shop id="country_list" />" value="GB" id="shipping_country" label="Country" />
	</div>
	<div class="mb-3">
		<perch:label  class="form-label" for="city">City</perch:label>
		<perch:input class="form-control required" type="text" id="shipping_city" label="City" />


		<small class="error-message text-danger"></small>
	</div>

	<hr>
	<div class="agree_weightloss py-4">
		<perch:input type="checkbox" checked="unchecked" name="agree" id="agree" />
		<span>Yes, I agree to GetWeightLoss's <a href="/terms-and-conditions" target="_blank" style="color: #288881; text-decoration: none; padding: 0 2px;">Terms & Conditions</a> And <a href="/privacy-notice" target="_blank" style="color: #288881; text-decoration: none; padding: 0 2px;">Privacy Policy.</a></span>
	</div>
	<div class="do_not pb-4">
		<perch:input type="checkbox" checked="" name="agree" id="agree-marketing"/>
		<span>I do not wish to receive marketing communications that include special offers, promotions, or educational content. </span>
	</div>
	<perch:input type="submit" class="btn btn-primary w-100" id="submit" value="Continue →" />
	<perch:error>
		<p>You already registered!</p>
	</perch:error>
	<perch:success>
		<p>Thanks!</p>
	</perch:success>
</perch:form>
<script src="https://cdn.getaddress.io/scripts/getaddress-autocomplete-3.0.9.js"></script>
<script>
	const enableAutocomplete = async ()=>
	{
		await getAddress.autocomplete('form1_shipping_address_1','6B82fZXnbkGpxSx5YDcx0Q46399',

				{
					selected : (address)=>{
						document.getElementById('form1_shipping_address_1').value = address.formatted_address[0];
						document.getElementById('form1_shipping_address_2').value = address.formatted_address[1];
						//document.getElementById('line3').value = address.formatted_address[2];
						document.getElementById('form1_shipping_city').value = address.formatted_address[3];
						//document.getElementById('county').value = address.formatted_address[4];
						document.getElementById('form1_shipping_postcode').value = address.postcode;
					}
				});
	}

	enableAutocomplete();
</script>
