<div class="scheduleForm">
    <div class="scheduleForm__container d-flex flex-column gap-3 mx-xl-auto">
        <div class="scheduleForm__form">
            <div class="scheduleForm__info pb-4 pb-md-0 pe-4 inter-medium d-flex flex-column pt-xxl-2">
                <perch:form id="verify" method="post" app="perch_twillio" class="d-flex flex-column gap-4 mb-5">
                    <div class="scheduleForm__field inter-regular d-flex flex-column">
                        <perch:label  class="mb-2" for="verify_code">Verify Code</perch:label>
                        <perch:input class="form-control" type="text" id="verify_code" required="true" label="Verify Code" placeholder="Verify Code"/>
                        <perch:error for="verify_code" type="required">Please add the verification code</perch:error>
                    </div>
                    <div class="scheduleForm__field inter-regular d-flex flex-column">
                        <perch:input type="submit" class="scheduleForm__button scheduleForm__button_submit inter-medium text-center button_fill" id="submit" value="Continue" />
                    </div>
                </perch:form>
            </div>
        </div>
    </div>
</div>
