<perch:shop id="name" type="text" label="Name" required="true" suppress="true" />
<perch:shop id="emailFor" type="select" options="Customer|customer,Customer and BCC admin|customer_bcc,Admin|admin" label="Recipient" suppress="true" />
<perch:shop id="emailRecipient" type="email" label="Admin email address" suppress="true" />
<perch:shop id="emailStatus" type="shop_order_status" label="Send for status" suppress="true" />
<perch:shop id="emailTemplate" type="shop_email_template" label="Template" suppress="true" />
<perch:shop id="subject" type="text" label="Subject line" required="true" suppress="true" />
<perch:shop id="sender_name" type="text" label="Sender name" required="true" suppress="true" />
<perch:shop id="sender_email" type="email" label="Sender email" required="true" suppress="true" />
<perch:shop id="enabled" type="shop_bool" label="Enabled" value="1" suppress="true" />
