
<br/> <br/>   <script src="https://pay.google.com/gp/p/js/pay.js" type="text/javascript"></script>

    <span  id="google-pay-button"></span>



<script type="text/javascript">
    const paymentsClient = new google.payments.api.PaymentsClient({
        environment: 'TEST' // Or 'PRODUCTION' for live
    });

    const button = paymentsClient.createButton({
        onClick: onGooglePayClicked,
        allowedPaymentMethods: ['CARD']
    });
    document.getElementById('google-pay-button').appendChild(button);

    function onGooglePayClicked() {
        const paymentDataRequest = {
            apiVersion: 2,
            apiVersionMinor: 0,
            allowedPaymentMethods: [{
                type: 'CARD',
                parameters: {
                    allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
                    allowedCardNetworks: ['MASTERCARD', 'VISA']
                },
                tokenizationSpecification: {
                    type: 'PAYMENT_GATEWAY',
                    parameters: {
                        'gateway': 'stripe',
                        'gatewayMerchantId': '<perch:shop id="publishable_key" escape="true" />'
                    }
                }
            }],
            merchantInfo: {
                merchantName: '<perch:shop id="shop_name" escape="true" />',
                merchantId: '<perch:shop id="google_merchantId" escape="true" />'
            },
            transactionInfo: {
                totalPriceStatus: 'FINAL',
                totalPrice: '<perch:shop id="amount" escape="true" />',
                currencyCode: '<perch:shop id="currency" escape="true" />'
            }
        };

        paymentsClient.loadPaymentData(paymentDataRequest)
            .then(function(paymentData) {
                // Send payment data to the server
                fetch('/process_payment.php', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        paymentMethodData: paymentData.paymentMethodData
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    });
            })
            .catch(function(err) {
                console.error("Error during Google Pay transaction", err);
            });
    }
</script>

