<div class="scheduleForm">
    <div
            class="scheduleForm__container d-flex flex-column gap-3 mx-xl-auto">

        <div class="scheduleForm__form">
            <div
                    class="scheduleForm__info pb-4 pb-md-0 pe-2 inter-medium d-flex flex-column pt-xxl-2">
<div
        class="scheduleForm__field inter-regular d-flex flex-column">
    <perch:label  class="mb-1" for="first_name">First name</perch:label>
<perch:twillio id="first_name" type="text" required="true" />
</div>
<div
        class="scheduleForm__field inter-regular d-flex flex-column">
    <perch:label  class="mb-1" for="last_name">Last name</perch:label>
<perch:twillio id="last_name" type="text"  required="true" />
</div>
<div
        class="scheduleForm__field inter-regular d-flex flex-column">
    <perch:label  class="mb-1" for="phone">Phone number</perch:label>

    <perch:twillio id="phone" type="text" label="Phone number" />
</div>
            </div>
        </div>
    </div>
</div>
