

body{
    background-color: #F6F6F6;

}




// <!--================================================================== How old are you section start ============================================================================================================-->



.how_old{
    margin-bottom: 200px;
    .are_you{
        max-width: 450px;
        height: 700px;
        margin: auto;
        .progress_bar{
            padding-top: 35px;
            .nambar{
                text-decoration: none;
                color: #000;
                font-weight: 500;
                position: relative;
                span::after{
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 25px;
                    width: 370px;
                    padding: 2px;
                    background-color: #ffffff;
                }
            }
        }


        .old_title{
            margin-top: 10px;
            margin-bottom: 30px;
            h2{
                font-size: 1.25rem !important;
                font-weight: 700;
                line-height: 1.5rem;
                letter-spacing: normal !important;
                font-family: "Neutrif Studio", "Helvetica Neue", "Segoe UI", roboto, ubuntu, "Lucida Grande", -apple-system, system-ui, cantarell, "Noto Sans", sans-serif, blinkmacsystemfont !important;
                color: #000;
            }
        }


        .get_started{
            background: #ffffff !important;
            // margin: auto;
            border-radius: 5px;
            margin-top: 50px;
            transition: 0.3s;
            max-width: 150px;
            border: 1px solid #000;

        }
        .get_started:hover{
            cursor: pointer;
            background-color: rgb(224 231 230 / 76%) !important ;
        }
        .started_button{
            .get_btn{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 17px;
                button{
                    border: none;
                    color: #000;
                    font-weight: 500;
                    letter-spacing: .01875rem;
                    text-transform: none;
                    transition-duration: .28s;
                    max-width: 582px;
                    transition: 0.5s;
                    background-color: transparent;
                    a{
                        text-decoration: none;
                        color:#000;
                    }
                }
                
            }
        }




        .under{

            input[type="radio"]{
                display: none;
            }

            label{
                position: relative;
                color: #000000;
                font-size: 16px;
                font-weight: 500;
                border: 1px solid #C5C5C5;
                border-radius: 10px;
                padding: 17px 0px;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: #ffffff;
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
            label:before{
                content: "";
                height: 23px;
                width: 23px;
                border: 2px solid #5E5E5E;
                border-radius: 50%;
                margin-right: 20px;
                margin-left: 30px;
            }
            label:hover{
                cursor: pointer;
                background-color: #EBEBEB;
                transition: 0.5s;
            }
            input[ type="radio"] label{
                background-color: #ffffff;
                color: #050000;
                
            }
            input[ type="radio"]:checked + label{
                background-color: #000000;
                color: #ffffff;
                
            }
            input[type="radio"]:checked + label::before{
                height: 23px;
                width: 23px;
                border: 2px solid #000000;
                outline: 2px solid #ffffff;
                background-color: #fff;
                margin-left: 30px;
            }
             
        }





    
    }
}








// <!--================================================================== How old are you section end ============================================================================================================-->