body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 20px;
    h6{
        font-weight: 600;
    }
}

.main_product {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    #product-selection{
        max-width: 580px;
        margin: auto;
    }
    .Mounjaro_button{
        text-align: center;
        text-decoration: none;
        color: #000;
        h2{
            background-color: red;
            font-size: 18px;
            padding: 18px 0px;
            border-radius: 10px;

        }
    }
}

.product {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;

    img{

        width: 150px;
        height: 150px;
    }
    h6{
        position: absolute;
        top: -10px;
        left: 15px;
        background-color: #006be9;
        border-radius: 10px;
        padding: 5px 10px;
        color: #fff;
        font-size: 10px;
    }

    .product_text{

        p{
            stroke: #006be9;
        }
        span{
            color: #288890;
        }
        a{
            color: #000;
            font-weight: 600;
        }
    }
}


.product.active {
    border: 2px solid black;
}

#browse-plans {
    display: block;
    margin: 10px auto;
    background-color: transparent!important;
    padding: 10px 15px;
    color: #54546d!important;
    font-weight: bold;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

#side-panel {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    transition: right 0.3s;
    padding: 20px;
    overflow: scroll;
}

#side-panel.active {
    right: 0;
    background-color: #fff!important;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 76%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#overlay.active {
    display: block;
}


.product-details{
    .Schedule{
        tr{
            background-color: red;
        }
        .Schedule_menu{
            background-color: red !important;

        }
    }
}
