.Weekly_injection{
    padding-top: 35px;
    .weekly{
        max-width: 450px;
        margin: auto;
        .weekly_content{ 
            display: flex;
            gap: 15px;
            .weekly_icon{
                i{
                    font-size: 25px;
                }
            }
        }
        .weekly_tex{
            padding: 5px 0px 0px 40px;
        }
    }
}


// <!--================================================================== Over 500 section start ============================================================================================================-->

.over_500{
    .over_500{
        max-width: 450px;
        margin: auto;
        text-align: center;
        background-color: #eee;
        padding: 20px 10px;
        border-radius: 8px;
        a{
            button{
                width: 100%;
                border: none;
                background-color: #B0D136;
                font-size: 18px;
                font-weight: 600;
                padding: 15px 0px;
                border-radius: 8px;
            }
        }
        .over_start{
            padding: 15px 0px;
        }
        .over_weight{
            .regulated{
                padding: 15px 10px;
            }
        }
    }
}

// <!--================================================================== Over 500 section end ============================================================================================================-->


// <!--================================================================== Frequently asked questions section start ============================================================================================================-->


.frequently{
    .frequently_content{
        max-width: 450px;
        margin: auto;
        .frequently_title{
            padding: 20px 0px;
        }
        
    }
    .frequently_questions{
        .accordion{
            button{
                color: #000;
            }
        }
    }
}



// <!--================================================================== Frequently asked questions section end ============================================================================================================-->


