
<perch:label for="first_name"><perch:events id="memberName" label="Member Name"  /></perch:label>
<perch:label for="id"><perch:events id="memberID" label="Member ID"  /></perch:label>
<perch:label for="email"><perch:events id="memberEmail" label="Member Email"  /></perch:label>

<p class="dtstart"><span class="value-title" title="<perch:events id="date" format="MM-dd-yyyy hh:mm:ss tt" />"><perch:events id="date" format="MM-dd-yyyy hh:mm:ss tt" /></span></p>
<perch:events type="select" id="status" options="Select|,Hold|hold,Confirmed|confirmed,Available|available" label="Status" />
<perch:events id="time" type="time" format="MM-dd-yyyy hh:mm:ss tt" />

