<perch:shop id="country" type="text" size="l" label="Name" required="true" />



<perch:shop id="iso2" type="text" size="s" label="ISO two-letter code" required="true" divider-before="ISO codes" />
<perch:shop id="iso3" type="text" size="s" label="ISO three-letter code" required="true" />
<perch:shop id="isonum" type="text" size="s" label="ISO country number" required="true" />

<perch:shop id="eu" type="checkbox" value="1" label="In the European Union" divider-before="Status" />
<perch:shop id="countryActive" type="checkbox" value="1" label="Enabled" />