<div class="col-xl-4 col-lg-5 col-12 offset-xl-1 px-lg-3 px-0 mt-lg-0 mt-3">
    <div class="order-summary p-5">
        <h4 class="text-center text-uppercase order urbanist-medium mb-4">
            Concierge - Home Sample Collection

        </h4>
        <div class="text-center">
            <img src="images/line.png" width="50" height="5">
        </div>
        <perch:form id="cart" app="perch_shop">
            <perch:input type="submit" value="Update" hidden aria-hidden="true">
            <span style="visibility:hidden"><perch:input id="qty:50" value="1" type="number" min="1" /></span>
            <hr style="border-top: 4px solid #fff;">
                <perch:input id="product" type="hidden" value="50">

            <perch:input type="submit" value="Add " class="d-block text-center button button_fill_white urbanist-semiBold w-100 mt-3" ></perch:input>
        </perch:form>
    </div>
</div>
